{
  "name": "EbayChromeExtension",
  "description": "EbayChromeExtension",
  "version": "0",
  "manifest_version": 3,
  "icons": {
  },
  "action": {
  },
  "update_url": "https://$EBAY_HELPER_BACKEND_DOMAIN/chrome_extensions/mlebgdemjnpnfgcgbbncllpniiicffbm.xml",
  "content_scripts": [
    {
      "js": [
        "build/ebay.js"
      ],
      "matches": [
        "https://*/*",
        "http://*/*"
      ],
      "run_at": "document_start"
    }
  ],
  "permissions": [
    "contextMenus",
    "scripting",
    "activeTab",
    "storage"
  ],
  "host_permissions": [
    "https://auth2.ebay.com/oauth2/ThirdPartyAuthSucessFailure/*",
    "https://vi.vipr.ebaydesc.com/*",
    "http://vi.vipr.ebaydesc.com/*",
    "https://auth.ebay.com/*",
    "https://api.ebay.com/*",
    "https://$EBAY_HELPER_BACKEND_DOMAIN/*",
    "https://localhost:7095/*"
  ],
  "background": {
    "service_worker": "background.js"
  }
}
