DOMAIN=localhost
NETCORE_CERTIFICATE=./config/certs/localhost.pfx
NETCORE_CERTIFICATE_PASSWORD=changeme
PG_PASSWORD=changeme
EMAIL=your-email@example.com
PORTAINER_HASH='$2y$05$replace-with-your-own-bcrypt-hash'
LOCAL_RUN=true
SMTP_SERVER=smtp.yandex.ru
SMTP_PORT=587
SMTP_LOGIN=changeme
SMTP_PASSWORD=changeme
CLIENT_ID=client
AUTH_SCOPE=ServerAPI
AUTH_CLIENT_SECRET=changeme
XUI_ADMIN_USERNAME=
XUI_ADMIN_PASSWORD=
